<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

     <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/style.css">
	<title>Tearms and Condition</title>

	<style type="text/css">
	.col-12{
		border: 1px solid #fff;
		padding: 50px;
	}

		h1,h5,h3,p{
			color: #fff;
		}
	</style>
</head>
<body>

	<div class="container">
		<div class="col-12">
			<h1>Terms of Service Agreement for Prompt2Share</h1>

			<h5>1. Introduction</h5>

			<p>Welcome to Prompt2Share, owned and operated by Ai-interf. This Privacy Policy is intended to inform you about how we collect, use, disclose, and safeguard your personal information when you use our mobile application ("App"). By using our App, you consent to our Privacy Policy and agree to its terms.</p>

				<h3>2. Use of the App</h3>

				<h5>2.1 Eligibility</h5>

			<p>You must be at least 18 years old to use the App. By using the App, you represent and warrant that you are at least 18 years old.</p>

				<h5>2.2 Account Registration</h5>

			<p>You may need to create an account to access certain features of the App. You are responsible for maintaining the confidentiality of your account credentials, and you agree to accept responsibility for all activities that occur under your account.</p>

				<h5>2.3 Prohibited Activities</h5>

			<p>You agree not to use the App for any unlawful or unauthorized purpose. You may not use the App to transmit any harmful or malicious code, engage in spamming, or violate any applicable laws or regulations.</p>



	<h3>3. Content and User Submissions</h3>
				<h5>3.1 User Content</h5>

			<p>The App may allow you to submit content, including text, images, and other materials ("User Content"). By submitting User Content, you grant us a non-exclusive, royalty-free, worldwide, and perpetual license to use, reproduce, modify, adapt, publish, translate, and distribute such User Content for the purposes of providing and promoting the App.</p>

					<h5>3.2 Moderation</h5>

			<p>We may, but are not obligated to, monitor, review, or remove User Content at our sole discretion. We reserve the right to remove any User Content that violates this Agreement or is otherwise objectionable.</p>

			<h3>4. Intellectual Property</h3>


			<p>The App and its original content, features, and functionality are owned by Ai-interf and are protected by intellectual property laws. You may not copy, modify, distribute, or reproduce any part of the App without our prior written consent.</p>

			<h3>5. Privacy Policy</h3>

			<p>Your privacy is essential to us. Please review our Privacy Policy, which outlines how we collect, use, and disclose your personal information.</p>

						<h3>6. Disclaimer of Warranties</h3>

			<p>The App is provided on an "as-is" basis, without warranties of any kind, express or implied. We do not warrant that the App will be error-free, secure, or uninterrupted.</p>

						<h3>7. Limitation of Liability</h3>

			<p>In no event shall AI-Interf be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or relating to your use of the App.</p>

							<h3>8. Governing Law</h3>

			<p>This Agreement shall be governed by and construed in accordance with the laws of N.Y., U.S.A., without regard to its conflict of laws principles.</p>




							<h3>9. Changes to the Agreement</h3>

			<p>We reserve the right to modify or update this Agreement at any time. You will be notified of any material changes. Your continued use of the App after the modifications constitute your acceptance of the revised Agreement.</p>

			<h3>10. Our Revenue</h3>
			<p>We keep 20% or more commission on user generated earnings to keep the system running.</p>


							<h3>11. Contact Us</h3>

			<p>If you have any questions or concerns about this Agreement or the App, please contact us at <br><strong>Email: </strong> info@ai-interf.com.<br><strong>Phone: </strong> +1 314-226-6602 <br><br>

By using the Prompt2Share App, you agree to be bound by this Terms of Service Agreement.<br>

Last updated: Sept 3, 2023</p>


		</div>
	</div>





    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="static/script.js"></script>

</body>
</html>